* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: url("../images/Stacked Wave.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

p { 
  
  text-indent: 25px;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: Regular;
}
.v111_57 {
  width: 189px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 185px;
  left: 140px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}

.comp{
  width: 350px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 185px;
  left: 1580px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.progect{
  width: 350px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 185px;
  left: 1080px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}


.v104_17 {
  width: 350px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 185px;
  left: 540px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.contactblock {
  width: 296px;
  height: 30px;
  background: url("../images/v119_114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 1370px;
  overflow: hidden;
}
#vk {
  width: 3%;
  height: 30px;
  background: url("../images/vk.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}
#youtube {
  width: 38px;
  height: 30px;
  background: url("../images/youtube.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}
#telegram {
  width: 26px;
  height: 30px;
  background: url("../images/telegram.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}
.title {
  width: 720px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 300px;
  left: 600px;
  font-family: Montserrat;
  font-weight: bolder;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.article {
  width: 75%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 447px;
  left: 119px;
  width: 75%;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.lastnews {
  width: 480px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 765px;
  left: 119px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.firstnewsname {
  width: 617px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 897px;
  left: 119px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.secondnewsname {
  width: 578px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1044px;
  left: 119px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.thirdnewsname {
  width: 926px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1156px;
  left: 119px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.fourthnewsname {
  width: 940px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1312px;
  left: 119px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.firstNews {
  width: 295px;
  height: 89px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 897px;
  left: 1600px;
  overflow: hidden;
}
.first_arrow {
  width: 108px;
  height: 57px;
  background: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 200px;
  overflow: hidden;
}
.v105_35 {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v105_40 {
  width: 295px;
  height: 89px;
  background: url("../images/v105_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1044px;
  left: 1600px;
  overflow: hidden;
}
.second_arrow {
  width: 108px;
  height: 57px;
  background: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  left: 200px;
  overflow: hidden;
}
.v105_42 {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}

.third {
  width: 295px;
  height: 89px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1156px;
  left: 1600px;
  overflow: hidden;
}
.third_arrow {
  width: 108px;
  height: 57px;
  background: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 200px;
  overflow: hidden;
}
.v105_39 {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.fourth {
  width: 295px;
  height: 89px;
  background: url("../images/v105_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1312px;
  left: 1600px;
  overflow: hidden;
}
.fourth_arrow {
  width: 108px;
  height: 57px;
  background: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 200px;
  overflow: hidden;
}
.v105_50 {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.showall {
  width: 430px;
  color: rgba(0,0,0,1);
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
}
.ru {
  width: 95px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 56px;
  left: 1199px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.en {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 56px;
  left: 1134px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}


.container{
  margin: 0 auto;
  max-width: 1100px;
  // width: 100%;
  

}

.header{
  display: flex;
  flex-direction: row;
  height: 10%;

  
  &__menu{
    margin-right: 5%;
    //margin-left: 5%;
    padding-top: 10%;
  }

  &__logo{
    width: 130px;
    height: 120px;
    background: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    overflow: hidden;

  }

  &__libraryName{
    width: 111px;
    color: rgba(0,0,0,1);
    font-family: Playfair Display;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
    padding-top: 3%;
  }

  &__locales{
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    padding-top: 3%;
    
  }

  &__loc{
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 20px;
    padding-right: 3%;
  }

  &__contact{
    margin-right: 2%;
    margin-top: 3%;

  }
}

.content{
  height: 25%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title{
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 40px;
  }

  &__article{
    width: 75%;
  }

  &__lastnews{ 
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  margin-top: 5%;
  margin-bottom: 5%;
  }
}



.newsList{
  display: flex;
  flex-direction: row;
  align-items: center;

  &__newsBlock{
    margin-left: 5%;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 15px;
  }
}

.allnewsBlock{
  height: 20%;

  &__allnews{
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 15px;
    margin-bottom: 15%;
    padding-left: 10%;
  }
}


.arrow{
  display: block;
  width: 50px;
  height: 30px;
  background: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  margin-top: 5%;
}

.bottom {
  width: 100%;
  height: 15%;
  background: rgba(85,80,80,1);
}
