@charset "UTF-8";
/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */
:root {
  --white: #f9f9f9;
  --black: #36383F;
  --gray: #85888C;
} /* variables*/
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
}

main {
  margin: 0 auto;
  max-width: 90vw;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, p {
  width: 75vw;
  text-indent: 20px;
}
h1{
  margin-top: 2%;
  font-size: 30px;
}
p{
  font-size: 25px;
}
/* Header */
.header {
  background-color: var(--black);
  box-shadow: 1px 1px 5px 0px var(--gray);
  position: sticky;
  top: 0;
  width: 100%;
}

/* Logo */
.logo {
  display: inline-block;
  color: var(--white);
  font-size: 60px;
  margin-left: 10px;
}

/* Nav menu */
.nav {
  width: 100%;
  position: fixed;
  background-color: var(--black);
  overflow: hidden;
}

.menu a {
  display: block;
  padding: 30px;
  color: white;
}

.menu a:hover {
  background-color: black;
  transition: 0.5s;
}

.nav {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}
.nav a{
  font-size: 20px;
}

/* Menu Icon */
.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
} /* Style label tag */
.hamb-line {
  background: var(--white);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
} /* Style span tag */
.hamb-line::before,
.hamb-line::after {
  background: var(--white);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
} /* Hide checkbox */
/* Toggle menu icon */
.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

article {
  margin-top: 5%;
  margin-bottom: 5%;
}

article ul{

  list-style: circle; 
  font-size: 25px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 5%;
  margin-top: 3%;
}
table caption{
  font-size: 30px;
}

table th, table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  vertical-align: top; /* выравнивание содержимого ячеек по верхнему краю */
  font-size: 20px;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

table tr:hover {
  background-color: #e6e5f7;
}

table a:hover {
 color:red;
}

table tbody td {
  overflow: hidden; /* скрытие части содержимого ячейки, которое не помещается */
  text-overflow: ellipsis; /* добавление многоточия для скрытой части содержимого ячейки */
}

table tbody td:first-child {
  width: 20%; /* задание ширины для первой колонки */
}

table tbody td:last-child {
  width: 30%; /* задание ширины для последней колонки */
}

table .all{
  text-align: right;
}

.footer {
  bottom: 0;
  height: 30vh;
  background: #000;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
  font-size: 20px;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
    height: 40vh;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}
.contactblock {
  display: flex;
  flex-direction: row;
  margin-right: 2%;
  padding-top: 3vh;
  width: 100px;
  height: 80px;
}

#vk {
  width: 38px;
  height: 30px;
  background: url("../images/vk.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
}

#youtube {
  width: 38px;
  height: 30px;
  background: url("../images/youtube.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
}

#telegram {
  width: 26px;
  height: 30px;
  background: url("../images/telegram.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}

/* Responsiveness */
@media (min-width: 800px) {
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
  }
  .menu li {
    float: left;
  }
  .menu a:hover {
    background-color: transparent;
    color: var(--gray);
  }
  .hamb {
    display: none;
  }
}/*# sourceMappingURL=menuTry.css.map */
