* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v119_116 {
  width: 100%;
  height: 2560px;
  background: url("../images/Stacked Wave.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
   
   
}
.logo {
  width: 130px;
  height: 120px;
  background: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 15px;
  overflow: hidden;
}
.libraryName {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 56px;
  left: 144px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v111_57 {
  width: 189px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 185px;
  left: 140px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}

.comp{
  width: 350px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 185px;
  left: 1580px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.progect{
  width: 350px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 185px;
  left: 1080px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}


.v104_17 {
  width: 350px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 185px;
  left: 540px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.contactblock {
  width: 296px;
  height: 30px;
  background: url("../images/v119_114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 1370px;
  overflow: hidden;
}
.vk {
  width: 29px;
  height: 30px;
  background: url("../images/vk.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.youtube {
  width: 38px;
  height: 30px;
  background: url("../images/youtube.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 130px;
  overflow: hidden;
}
.telegram {
  width: 26px;
  height: 30px;
  background: url("../images/telegram.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 270px;
  overflow: hidden;
}
.title {
  width: 720px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 300px;
  left: 600px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.article {
  width: 75%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 447px;
  left: 119px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v116_109 {
  
  width: 100%;
  height: 380px;
  background: rgba(85,80,80,1);
  opacity: 1;
  position: absolute;
  top: 2210px;
  overflow: hidden;
  padding-right: 0;
  padding-left: 0;
   
}
.lastnews {
  width: 480px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 765px;
  left: 119px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.firstnewsname {
  width: 617px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 447px;
  left: 119px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.secondnewsname {
  width: 578px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 647px;
  left: 119px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.thirdnewsname {
  width: 926px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 847px;
  left: 119px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.fourthnewsname {
  width: 940px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1047px;
  left: 119px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.firstNews {
  width: 295px;
  height: 89px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 447px;
  left: 1600px;
  overflow: hidden;
}
.first_arrow {
  width: 108px;
  height: 57px;
  background: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 200px;
  overflow: hidden;
}
.v105_35 {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.secondnews {
  width: 295px;
  height: 89px;
  background: url("../images/v105_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 647px;
  left: 1600px;
  overflow: hidden;
}
.second_arrow {
  width: 108px;
  height: 57px;
  background: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  left: 200px;
  overflow: hidden;
}
.v105_42 {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v105_43 {
  width: 295px;
  height: 89px;
  background: url("../images/v105_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 1271px;
  left: 1600px;
  overflow: hidden;
}
.v105_44 {
  width: 108px;
  height: 57px;
  background: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 186px;
  overflow: hidden;
}
.v105_45 {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.third {
  width: 295px;
  height: 89px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 847px;
  left: 1600px;
  overflow: hidden;
}
.third_arrow {
  width: 108px;
  height: 57px;
  background: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 200px;
  overflow: hidden;
}
.v105_39 {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.fourth {
  width: 295px;
  height: 89px;
  background: url("../images/v105_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1047px;
  left: 1600px;
  overflow: hidden;
}
.fourth_arrow {
  width: 108px;
  height: 57px;
  background: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 200px;
  overflow: hidden;
}
.v105_50 {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.showall {
  width: 430px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1247px;
  left: 119px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.ru {
  width: 95px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 56px;
  left: 1199px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.en {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 56px;
  left: 1134px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}


.v128_753 {
  width: 95px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 50px;
  left: 1200px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v128_754 {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 50px;
  left: 1140px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}


.fithnewsname {
  width: 940px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1247px;
  left: 119px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}

.fith_arrow {
  width: 108px;
  height: 57px;
  background: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 200px;
  overflow: hidden;
}

.fith {
  width: 295px;
  height: 89px;
  background: url("../images/v105_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1247px;
  left: 1600px;
  overflow: hidden;
}


.sixthnewsname {
  width: 940px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1447px;
  left: 119px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}

.sixth_arrow {
  width: 108px;
  height: 57px;
  background: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 200px;
  overflow: hidden;
}

.sixth {
  width: 295px;
  height: 89px;
  background: url("../images/v105_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1447px;
  left: 1600px;
  overflow: hidden;
}



.seventhnewsname {
  width: 940px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1647px;
  left: 119px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}

.seventh_arrow {
  width: 108px;
  height: 57px;
  background: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 200px;
  overflow: hidden;
}

.seventh {
  width: 295px;
  height: 89px;
  background: url("../images/v105_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1647px;
  left: 1600px;
  overflow: hidden;
}
